header {
  width: 100vw;
  height: 80px;
  background-color: var(--primary-purple-200);
  /* background-color: var(--color-blueviolet-03); */
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.logobox {
  font-size: 30px;

}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
