.second {
  width: 100vw;
  height: 30vh;
  display: flex;
  background-color: white;
}

.container_1 {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.review > span {
  color: blueviolet;
}

.reviewText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.reviewText > img {
  width: 100px;
  height: 100px;
}

.logo_img {
  width: 30px;
  height: 30px;
}

.review_img {
  display: flex;
  align-items: center;
  gap: 10px;
}
